# By default, require reviews from the release approvers for all files.
* @Icarus603

# The following files don't need reviews from the release approvers.
# These patterns override the rule above.
**/*.md
/docs/